# Adding GCS and Braden Columns

Αddition of the GCS column by summing the columns including
'GCS - Eye Opening - Mean', 'GCS - Verbal Response - Mean',
'GCS - Motor Response - Mean'

Αddition of the Braden column by summing the columns including
'Braden Sensory Perception  - Mean', 'Braden Moisture  - Mean',
'Braden Activity  - Mean', 'Braden Mobility  - Mean',
'Braden Nutrition  - Mean', 'Braden Friction/Shear  - Mean'

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Read the stroke_diagnosis.csv file
df = pd.read_csv("CSV\Exports\datasets\whole_set\o05_final_mean_table_los.csv")

In [3]:
# Sum the GSC columns and if the value is NaN then we excluded it from the summation.

df['GCS  - Mean'] = df.apply(lambda row: row[['GCS - Eye Opening  - Mean', 'GCS - Verbal Response  - Mean', 'GCS - Motor Response  - Mean']].sum() if not all(row[['GCS - Eye Opening  - Mean', 'GCS - Verbal Response  - Mean', 'GCS - Motor Response  - Mean']].isna()) else np.nan, axis=1)

In [4]:
# Sum the Braden columns and if the value is NaN then we excluded it from the summation.

df['Braden  - Mean'] = df.apply(lambda row: row[['Braden Sensory Perception  - Mean', 'Braden Moisture  - Mean', 'Braden Activity  - Mean', 'Braden Mobility  - Mean', 'Braden Nutrition  - Mean', 'Braden Friction/Shear  - Mean']].sum() if not all(row[['Braden Sensory Perception  - Mean', 'Braden Moisture  - Mean', 'Braden Activity  - Mean', 'Braden Mobility  - Mean', 'Braden Nutrition  - Mean', 'Braden Friction/Shear  - Mean']].isna()) else np.nan, axis=1)

In [6]:
# remove GCS-... and Braden-... remaining columns
columns_to_remove = ['GCS - Eye Opening  - Mean', 'GCS - Verbal Response  - Mean', 'GCS - Motor Response  - Mean', 'Braden Sensory Perception  - Mean', 'Braden Moisture  - Mean', 'Braden Activity  - Mean', 'Braden Mobility  - Mean', 'Braden Nutrition  - Mean', 'Braden Friction/Shear  - Mean']

# Drop the specified columns
df = df.drop(columns_to_remove, axis=1)

In [8]:
# Remove "(Mean)" from headers
df.columns = [header.replace(' - Mean', '') for header in df.columns]

In [10]:
# Remove "Mean" from column headers
df.columns = [col.replace(' - Mean', '') if ' - Mean' in col else col for col in df.columns]

# Remove "," from column headers
df.columns = [col.replace(',', '') if ',' in col else col for col in df.columns]

# remove blank spaces from the end of header names
df.columns = df.columns.str.strip()

In [ ]:
# Calculate the percentage of filled cells in each column
filled_percentages = df.count() / len(df) * 100

# Identify columns where the percentage of filled cells is xx% or more
columns_to_keep = filled_percentages[filled_percentages >= 0].index

In [ ]:
df_subset = df[columns_to_keep]

display(df_subset)

In [12]:
# Save to CSV
df_subset.to_csv('temp_dataset.csv', index=False)

In [ ]:
# Extracting headers with missing values
missing_values_columns = df_subset.columns[df_subset.isnull().any()].tolist()

print("Headers with missing values:")
print(missing_values_columns)

In [13]:
display(df)

,row_count,subject_id,hadm_id,Time_Zone,gender,age,language,marital_status,race,Base Excess,...,Thoracic Fluid Content (TFC) (NICOM),Head of Bed Measurement (Degree),ARCH-1,Factor VII,Creatinine Body Fluid,Ethanol,hospital_expire_flag,los,GCS,Braden
0,1,10004733,27411876,1,M,51,ENGLISH,SINGLE,UNKNOWN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,8.357373,8.000000,11.0
1,2,10004733,27411876,2,M,51,ENGLISH,SINGLE,UNKNOWN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,8.357373,8.500000,11.0
2,3,10004733,27411876,3,M,51,ENGLISH,SINGLE,UNKNOWN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,8.357373,8.000000,11.0
3,4,10004733,27411876,4,M,51,ENGLISH,SINGLE,UNKNOWN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,8.357373,8.333333,11.0
4,5,10004733,27411876,5,M,51,ENGLISH,SINGLE,UNKNOWN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,8.357373,8.333333,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55787,55788,19999987,23865745,12,F,57,ENGLISH,NaN,UNKNOWN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,1.937847,8.250000,12.8
55788,55789,19999987,23865745,13,F,57,ENGLISH,NaN,UNKNOWN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,1.937847,8.111111,12.5
55789,55790,19999987,23865745,14,F,57,ENGLISH,NaN,UNKNOWN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,1.937847,8.250000,12.8
55790,55791,19999987,23865745,15,F,57,ENGLISH,NaN,UNKNOWN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,1.937847,7.000000,13.0
55791,55792,19999987,23865745,16,F,57,ENGLISH,NaN,UNKNOWN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,1.937847,8.250000,12.8

In [ ]:
import pandas as pd
from sklearn.impute import SimpleImputer  # Use SimpleImputer for multi-type imputation

# Identify variables with missing data
variables_with_missing_data = ['GCS', 'BUN', 'Braden']  # Replace with your actual column names

# Choose appropriate imputation methods based on data types
imputation_methods = {}
for col in variables_with_missing_data:
    if pd.api.types.is_numeric_dtype(df_subset[col]):
        # Use SimpleImputer for continuous variables (mean, median, mode)
        imputation_methods[col] = SimpleImputer(strategy='mean')  # Adjust strategy as needed
    else:
        # Consider KNNImputer or other methods for categorical variables
        imputation_methods[col] = KNNImputer(n_neighbors=5)  # Adjust parameters as needed

# Create a dictionary to store imputed dataframes
imputed_dataframes = {}

# Impute missing values using appropriate methods for each column
for col, imputer in imputation_methods.items():
    imputer.fit(df_subset[[col]])  # Fit imputer on the specific column
    imputed_df = df_subset.copy()
    imputed_df[col] = imputer.transform(df_subset[[col]])  # Impute missing values
    imputed_dataframes[col] = imputed_df  # Store imputed dataframe

# Choose the most suitable imputed dataframe based on your analysis goals
# Example: Use the dataframe with the least amount of data distortion
chosen_imputed_df = imputed_dataframes[variables_with_missing_data[0]]

# Explore the quality of imputed data and potential biases

print(chosen_imputed_df.head())  # Display the head of the chosen imputed dataframe

In [ ]:
display(chosen_imputed_df)

In [ ]:
# Selecting specific columns
selected_columns = ['GCS']

# Showing specific columns
selected_df = chosen_imputed_df[selected_columns]

display(selected_df)